*.o
a.out
megaphone
phonebook
.vscode
.DS_Store
loglog.log
mylog.log
acc
zombie
horde
brain
violence
*.replace
replace
harl
harlFilter
fixed
claptrap
animal
brain
abstract
bureau
form
*_shrubbery
conversion
serialize
identify
whatever
iter
array
easy
span
mstack
btc
RPN